<h2 id="title">Моя корзина</h2>
<div id = "cart">
  <div class="clothesItem">
    
  <div *ngFor = "let clothes of clothesFromCart"  class = "clothesClass">
    <div class="clothesImage"><img [src]="clothes.imageLink" class = "clothesImage"></div>
    <div class="text"><p class="textItems"> {{clothes.name}}  <button (click)= "deleteClothesFromCart(clothes)" class="delete" ><a [title]="'удалить'">✘</a></button></p>
      <p class="textItems">Артикул товара: {{clothes.id}}</p>
      <p class="textItems">
        Стоимость: {{clothes.price}}
      </p>

      <a  [routerLink]="['registration']"><button id="order">ПЕРЕЙТИ К ОФОРМЛЕНИЮ</button></a>
    </div>
    </div>
  </div>
</div>

