
#title{
    text-align: center;
  margin-bottom: 30px;
}
.clothesClass {
    display: flex;
    flex-direction: column;
    flex: 0 0 33%;
    margin-left: 5px;
    cursor: pointer;
}
.clothesItem{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 10px;
}
.clothesImage{
    width: 100%;
}
.categoryList{
    color: gray;
    margin-left: 30px;
    letter-spacing: 2px;
    text-decoration: none;

}
ul{
    display: flex;
    flex-direction: row;
}

.nameStyle{
    color: black;
    text-decoration: none;
    font-weight: 500;
}
.PriceStyle{
    color: black;
    font-size: medium;
    font-weight: 900;
}
#card{
  width: 25%;
  height: 5%;
  border-width: 1px;
  border-color: burlywood;
  border-radius: 5px;
  color: black;
  background-color: wheat;
}
.textBlock{
    text-align: center;
}

.hovereffect {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.hovereffect .overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 4.75em;
  background: #79FAC4;
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
  visibility: hidden;

}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
}

.hovereffect:hover img {
  -webkit-transform: translate3d(0,-10%,0);
  transform: translate3d(0,-10%,0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  float: left;
  margin: 0px;
  display: inline-block;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}
.hovereffect .overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: auto;
  bottom: 80px;
  padding: 1em;
  height: 4.75em;
  background: white;
  color: black;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
  visibility: hidden;

}

.hovereffect h2 {
  text-transform: uppercase;
  color: black;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: white;
  float: left;
  margin: 0px;
  display: inline-block;
}

.hovereffect h2{
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,200%,0);
  transform: translate3d(0,200%,0);
  visibility: visible;
}

.hovereffect:hover .overlay,
.hovereffect:hover h2 {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.hovereffect:hover h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
